<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
            xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
            layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="content">

    <style layout:fragment="css">
        .error {
            color: #bd2130;
        }
    </style>

    <div class="p-3">
        <form role="form" method="post" action="/member/login">
            <div class="form-group">
                <label th:for="email">이메일 주소</label>
                <input type="email" name="email" class="form-control" placeholder="메일 입력 하셈">
            </div>
            <div class="form-group">
                <label th:for="email">비밀 번호</label>
                <input type="password" name="password" class="form-control" placeholder="비번 입력 하셈">
            </div>
            <p th:if="${loginErrorMsg}" class="error" th:text="${loginErrorMsg}"></p>
            <button class="btn btn-primary">로그인</button>
            <button type=button class="btn btn-primary"
                    onclick="location.href='/member/new'">회원가입</button>
        </form>
        <div>
            <a href="/oauth2/authorization/google">GOOGLE 로그인</a>
            <a href="/oauth2/authorization/naver">NAVER 로그인</a>
        </div>
    </div>
</th:block>

</html>